amqp
asgiref
async-timeout
attrs
bcrypt
billiard
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cryptography
distro
Django
django-bootstrap5
django-cors-headers
django-extensions
django-filter
django-modeltranslation
django-redis
django-taggit
django-tof
django_debug_toolbar
djangorestframework
docker
dockerpty
docopt
Faker
gunicorn
idna
jsonschema
kombu
Markdown
packaging
paramiko
Pillow
prompt-toolkit
psycopg2-binary
pycparser
pydot
PyNaCl
pyparsing
pyrsistent
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
six
sqlparse
texttable
typing_extensions
tzdata
urllib3
uvicorn
vine
wcwidth
websocket-client
whitenoise
